<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings configSource="appSettings.config" />
	<system.net>
		<mailSettings>
			<smtp configSource="smtpSettings.config" />
		</mailSettings>
	</system.net>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<httpHandlers>
			<add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true"></modules>
		<handlers>
			<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
		</handlers>
		<security>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<windowsAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</configuration>